body {
    font-size: 1.2em;
}
.btn { font-size: 1.2em; }
h1 {
    text-align: center;
    color: #BC8F8F;
    text-shadow: 5px 5px 5px silver;
}
small {
    color: grey;
}
.button-up {
	font-size: 1.2em;
	border: 1px solid;
	border-radius: 6px;
	border-style: outset;
	cursor: pointer;
	background-color: LightGreen;
	color: black;
}
.button-down {
	font-size: 1.2em;
	border: 1px solid;
	border-radius: 6px;
	border-style: inset;
	cursor: pointer;
	background-color: LightGreen;
	color: white;
}
