body {
    font-size: 1.2em;
}
.btn { font-size: 1.2em; }
h1 {
    text-align: center;
    color: #BC8F8F;
    text-shadow: 5px 5px 5px silver;
}
small {
    color: grey;
}
.bonza-error {
    background-color: red;
    color: white;
    text-align: center;
	font-size: 1.2em;
	border: 1px solid;
	border-radius: 6px;
	border-color: black;
}
.bonza-result {
	font-size: 1.2em;
	border: 1px solid;
	border-radius: 6px;
	background-color: LightGreen;
}
